*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    height: 100svh;
    overflow: hidden;
    background-color: #d6bfa4;
}

.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: 1;
    object-fit: cover;
}

.rocks{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 100%;
    object-fit: cover;
}

.banner{
    height: 100vh;
    height: 100svh;
    overflow: hidden;
    position: relative;
}

.banner .product{
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    bottom: 170px;
    transform: translateX(-50%);
    z-index: 3;
    transition: .7s;
    --left: -150px;
    display: flex;
}

.banner .product .soda {
    background:
    var(--url) var(--left) 0, 
    url(images/lata.png);
    background-size: auto 100%;
    width: 280px;
    aspect-ratio: 2/4.1;
    background-blend-mode: multiply;
    mask-image: url(images/lata.png);
    mask-size: auto 100%;
    transition: .7s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.banner .product:hover{
    --left: -1390px;
    transform: translateX(-50%) translateY(-120px);
}

.banner .product .soda:nth-child(2){
    opacity: 0;
}

.banner .product:hover .soda:nth-child(2){
    opacity: 1;
}

.banner .stones{
    position: absolute;
    inset: 0 0 0 0;
    pointer-events: none;
    z-index: 1;
}

.banner .stones img{
    position: absolute;
    transition: .7s;
}

.banner .stones img:nth-child(1){
    width: 420px;
    top: 100%;
    left: 40%;
    transform: translateX(-40%) translateY(-90%) rotateZ(10deg);
}

.banner:has(.product:hover) .stones img:nth-child(1){
    transform: translateX(-80%) translateY(-80%) rotateZ(10deg);
}

.banner .stones img:nth-child(2){
    width: 520px;
    top: 100%;
    left: 60%;
    transform: translateX(-50%) translateY(-90%) rotateZ(-10deg);
}

.banner:has(.product:hover) .stones img:nth-child(2){
    transform: translateX(-30%) translateY(-90%) rotateZ(-10deg);
}

.banner .stones img:nth-child(3){
    width: 420px;
    top: 100%;
    left: 50%;
    transform: translateY(-100%) translateX(-50%);
}

.banner:has(.product:hover) .stones img:nth-child(3){
    transform: translateY(-50%) translateX(-50%);
}
